body {
    font-family: 'Arial', sans-serif;
    background-color: #91d5d5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h2 {
    color: #333;
}

h4 {
    color: #666;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px;
}

#score {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

#finalScore {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #900;
    animation: celebrate 1s ease-in-out; /* Celebration animation */
}

@keyframes celebrate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}